{{ template "_before.tmpl" . }}
<p>
Les commandes pour la distribution du ********** fermeront demain matin à 9h. Si vous n'avez pas encore passés de commande, c'est le moment.
</p>
{{ template "_after.tmpl" . }}
